// Source: footer general PDVSA
////////////////////////////////////////////////////////////////////////////////////////////////////////////////

// Funcion: mixin pie de pagina
////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@mixin footer_properties ($footer_bottom, $footer_height){
  background-color:  $color_gray_dark;
  position: fixed;
  bottom:   $footer_bottom;
  height:   $footer_height;
}

// Style: pie de página contenedor
////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.footer_main {
  .footer_container {
    @include footer_properties(0,50px);
    background-bottom: 0;
    width:             100%;
    @extend .fonts_footer_main;
  }

 // Style: pie de página copyleft
 ////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  .footer_copyrights  {
    @include footer_properties(40px, 0px);
    left: 15px;
  }

  // Style: pie de página herramientas usadas
  ////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  .footer_tools {
    @include footer_properties(-10px, 50px);
    right: 15px;
  }
}
