//Source: Fuentes
////////////////////////////////////////////////////////////////////////////////////////////////////////////////

// Funcion: mixin fonts
////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@mixin fonts_properties ($font_color, $font_family, $font_size, $font_style){
  color:       $font_color;
  font-family: $font_family;
  font-size:   $font_size;
  font-style:  $font_style;
}

//Fuente: HammersmithOne
////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@include font-face("HammersmithOne", font-files("HammersmithOne/HammersmithOne.ttf", truetype));
@font-face {
  font-family: "HammersmithOne";
  src: url('/static/fonts/HammersmithOne/HammersmithOne.ttf') format('truetype');
}

//Fuente: Vera Bold
////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@include font-face("BitstreamVeraBold", font-files("BitstreamVera/VeraBd.ttf", truetype));
@font-face {
    font-family: "BitstreamVeraBold";
    src: url('/static/fonts/BitstreamVera/VeraBd.ttf') format('truetype');
}

//Fuente: Vera Regular
////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@include font-face("BitstreamVera", font-files("BitstreamVera/Vera.ttf", truetype));
@font-face {
    font-family: "BitstreamVera";
    src: url('/static/fonts/BitstreamVera/Vera.ttf') format('truetype');
}


// Fuentes Header y Footer
////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.fonts_main_links {
    @include fonts_properties ($color_gray_medium, 'BitstreamVera', 0.9em, normal);
}

.fonts_contents {
    @include fonts_properties ($color_gray_board, 'BitstreamVera', 0.9em, normal);
}

.fonts_title_section {
    @include fonts_properties ($color_white_PDVSA, 'BitstreamVeraBold', 0.9em, normal);
}

.fonts_footer_main {
  @include fonts_properties ($color_gray_medium, 'Arial', 0.8em, bold);
}

.fonts_footer_link {
  @include fonts_properties ($color_gray_medium, 'Arial', 0.9em, bold);
}

// Fuentes Form / Login
.fonts_button_ok {
  @include fonts_properties ($color_gray_PDVSA, "Arial" ,1.1em, normal);
}

.fonts_fields {
  @include fonts_properties ($color_gray_PDVSA, 'Arial', 1.1em, normal);
}

.fonts_password {
  @include fonts_properties ($color_gray_dark, 'Arial', 1.1em, normal);
}

//Fuentes Titulo / Login

.fonts_title_login_management {
  @include fonts_properties ($color_gray_PDVSA, 'arial', 1.3em, normal);
}

.fonts_title_login_system {
  @include fonts_properties ($color_gray_PDVSA, 'HammersmithOne', 2.3em, normal);
}

.fonts_title_module {
  @include fonts_properties (red, 'HammersmithOne', 1.3em, normal);
}

.content_description_section {
  @include fonts_properties ($color_gray_board, 'Arial', 1.1em, normal);
}
