// Source: header general PDVSA
////////////////////////////////////////////////////////////////////////////////////////////////////////////////

@import "commons/impress-scss/impress-demo";

.slide_PDVSA {
    @extend .slide;
    display: block;
    width: 850px;
    height: 550px;
    padding: 20px 60px;
    top: 15px;
    z-index: 25;
    background-color: $color_white_PDVSA;
}
