//// Source: Pantalla intro - titulos
////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@import "commons/bootstrap-scss/bootstrap";

// Funcion: mixin pie de pagina
////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@mixin current_section_properties ($current_section_background_color, $current_section_border, $current_section_float, $current_section_minHeight, $current_section_top) {
  background-color: $current_section_background_color;
  border: $current_section_border;
  height: $current_section_minHeight;
  top:$current_section_top;

}

// Style: Seccion actual
////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  .current_section {
    @extend .fonts_contents;
    @include current_section_properties ($color_gray_PDVSA, 100px, none, 85px, 27px);
    position: relative;
    padding-left: 15px;
    padding-top: 15px;


  }
