{% load static %}
<!DOCTYPE html>

<html class="no-js" lang="en">
<head>
    <title>Editor de diapositivas</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include "includes/css-js.html" %}

    {% include "includes/css-froala.html" %}


</head>

<body ng-app>
    {% include "includes/header.html" %}

    <div class="intro_main">

        <div class="title_section">Editor de Diapositivas</div>

        <div class="current_section">
            Por favor edite el contenido de la siguiente diapositiva, puede agregar imágenes simplemente
            arrastrando un archivo al área editable. También puede copiar y pegar contenido de documentos
            hechos en Microsoft Word y Excel.
        </div>
    </div>
    <br><br>
    <div id="edit">
    <form role="form">
        <textarea id="edit" name="content" class="text_fields_regular" ></textarea>
    </form>
</div>
    <!-- Include jQuery. -->
    <script src="{{STATIC_URL}}javascripts/jquery-1.11.2/jquery-1.11.2.min.js"></script>

    <!-- Include JS files. -->
    <script src="{{STATIC_URL}}javascripts/froala-1.2.25/js/froala-editor.min.js"></script>

    <!-- Include IE8 JS. -->
    <!--[if lt IE 9]>
    <script src="{STATIC_URL}}javascripts/froala-1.2.25/js/froala_editor_ie8.min.js"></script>
    <![endif]-->

    <!-- Initialize the editor. -->
    <script>
    $(function() {
        $('div#edit').editable({
            inlineMode: false
        })
    });
    </script>







    <div class="footer_main">
        {% include "includes/footer.html" %}
    </div>

</body>
</html>
