{% load static %}
<!DOCTYPE html>

<html class="no-js" lang="en">
<head>
    <title>Presentacion</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>



    <body class="impress-not-supported" ng-app >


        {% include "includes/css-js.html" %}

        {% include "includes/header_presentation.html" %}


    <!--    <div class="title_section_presentation">
            Gerencia de Recursos Humanos CVP
        </div>
    -->

<div id="impress">


<!----------------- SLIDE #1 ------------------>

    <div class="step" data-x="500" data-y="1" data-scale="4.5">
        <center>
        <span class="fonts_title_presentation_main">
            Corporación Venezolana de Petróleo - CVP
            <br>

        </span>
        </center>
    </div>

<!----------------- SLIDE #2 ------------------>

    <div class="step" data-x="0" data-y="400" data-scale="0.5" data-rotate="90" >
        <center>
        <span class="fonts_title_presentation_main">
            Reunión:
            <br>
            Gerencia de Recursos Humanos y Llovizna (Desarrollo Web)
        </span><br>

        </center>
    </div>



<!----------------- SLIDE #3 ------------------>

    <div class="step slide_PDVSA" data-x="0" data-y="-1500">
        <br>
        <br>
        <br>
        <br>
        <br>
        <center>
        <span class="fonts_title_presentation_sections">
            <strong>Objetivo de la presentación</strong>
        </span>
        </center>
    </div>

<!----------------- SLIDE #4 ------------------>

    <div class="step slide_PDVSA" data-x="1000" data-y="-1500">

        <span class="fonts_content_presentation_main">
    <br>

            <strong>1er punto: </strong>Conocer los puntos claves de la nueva plataforma de gestión (en desarrollo)  con la que contará
            la Gerencia de Recursos Humanos de CVP.
            <br><br>
            <strong>2do punto:</strong> Presentación de Llovizna (Desarrollo Web) (cartera de productos y servicios).
            <br><br>
            <strong>3er punto:</strong> Dar a conocer las necesidades de adiestramiento / consultoria, posible metolodogía de trabajo y su impacto dentro del desarrollo .
        </span>

    </div>

<!----------------- SLIDE #5 ------------------>

    <div class="step slide_PDVSA" data-x="2000" data-y="-1500">

        <br>
        <br>
        <br>
        <br>
        <center>
            <span class="fonts_title_presentation_sections">
                <strong>Primer Punto</strong><br><br>
                <strong>¿Qué es el Sistema Integral de Gestión de Recursos Humanos SIGRH?</strong>
            </span>
        </center>
    </div>


<!----------------- SLIDE #6 ------------------>

    <div class="step slide_PDVSA" data-x="3000" data-y="-1500">
        <br>
        <p align="justify">
        <span class="fonts_content_presentation_main">
            Es una solución comprendida por un conjunto de productos y servicios que permitirá
            a los usuarios de  la Gerencia  de  Recursos Humanos de la CVP cargar, analizar y consultar de manera
            oportuna y veraz  la información de los procesos administrativos que estan en ejecución,
            para la posterior toma de decisiones a nivel operativo, táctico y estratégico.
            <br>
            <br>
            Todo esto enmarcado en la consecución de los objetivos y metas trazadas por la Junta Directiva de la Corporación
            Venezolana del Petróleo, S.A.
        </span>
        </p>
    </div>


<!----------------- SLIDE #7 ------------------>

    <div class="step slide_PDVSA" data-x="4000" data-y="-1500">
        <br>
        <br>
        <br>
        <br>
        <br>
        <center>
            <span class="fonts_title_presentation_sections">
                <strong>Objetivos del Sistema Integral de Gestión SIGRH</strong>
            </span>
        </center>
    </div>


<!----------------- SLIDE #8 ------------------>

    <div class="step slide_PDVSA" data-x="5000" data-y="-1500">
        <p align="justify">
        <span class="fonts_content_presentation_main">
            <br>
            <br>
            <ul style="list-style-type:square">
                <li>Proveer siempre de información certera y actualizada en el ámbito de Recursos Humanos
                    a los miembros de Junta Directiva de la CVP.</li>
                <br>
                <li>Desarrollar herramientas que contribuyan al proceso de análisis de datos, con una visión estratégica
                    enfocada al éxito de la gestión de la Gerencia de Recursos Humanos, asegurando el
                     sostenimiento de la CVP en el tiempo.</li>

            </ul>
        </span>
        </p>
    </div>



<!----------------- SLIDE #9 ------------------>

    <div class="step slide_PDVSA" data-x="6000" data-y="-1500">
        <br>
        <br>
        <br>
        <br>
        <br>
        <center>
            <span class="fonts_title_presentation_sections">
                <strong>    ¿Con qué productos y servicios contará?</strong>
            </span>
        </center>
    </div>


<!----------------- SLIDE #10 ------------------>

    <div class="step slide_PDVSA" data-x="7000" data-y="-1500">
        <p align="justify">
        <span class="fonts_content_presentation_main">
            <br>
            <br>
            <ul style="list-style-type:square">
                <li>Sistemas basados en Web para la carga, verificación y normalización de datos.</li>
                <li>Herramientas analíticas y estadísticas de grandes cantidades de datos en tiempo real a
                    través de estructuras de datos multidimensionales.
                <li>Generación de reportes e informes de dirección dinámicos en tiempo real
                    que faciliten la toma de decisiones. </li>
                <li>Herramientas de consulta.</li>

                </ul>
            </span>
            </p>
    </div>


<!----------------- SLIDE #11 ------------------>

    <div class="step slide_PDVSA" data-x="8000" data-y="-1500">
        <br>
        <br>
        <br>
        <br>
        <br>
        <center>
            <span class="fonts_title_presentation_sections">
                <strong>Procesos contemplados</strong>
            </span>
        </center>
    </div>


<!----------------- SLIDE #12 ------------------>

    <div class="step slide_PDVSA" data-x="9000" data-y="-1500">
        <span class="fonts_content_presentation_main">
            Procesos (Gerencia de Recursos Humanos de la CVP)
        </span>
        <center><img src="{{STATIC_URL}}images/slides/procesos.jpg"></center>

    </div>




<!----------------- SLIDE #13 ------------------>

    <div class="step slide_PDVSA" data-x="10000" data-y="-1500">
        <br>
        <br>
        <br>
        <br>
        <br>
        <center>
            <span class="fonts_title_presentation_sections">
                <strong>Primera fase: Módulo en desarrollo
                <br>
                Planificación y DDO
                </strong>
            </span>
        </center>
    </div>


<!----------------- SLIDE #14 ------------------>

    <div class="step slide_PDVSA" data-x="11000" data-y="-1500">
        <span class="fonts_content_presentation_main">
            Módulo en desarrollo
        <br>

        <table>
            <tr>
                <td width="60%" align="center" valign="middle">
                    <br><img src="{{STATIC_URL}}images/slides/procesoPlan-DDO.jpg" >
                </td>
                <td valign="top">
                        <br>
                        <ul style="list-style-type:square">
                            <li>Movimiento de personal.</li>
                            <li>Diseño Organizacional.</li>
                            <li>Gestión.</li>
                            <li>Fuerza Laboral.</li>
                            <li>Presupuesto.</li>
                            <li>Administración.</li>
                        </ul>
                </td>
            <tr>
        </table>

    </div>


                <!----------------- SLIDE #15 ------------------>

                <div class="step slide_PDVSA" data-x="12000" data-y="-1500">
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <center>
                        <span class="fonts_title_presentation_sections">
                            <strong>    ¿Que usuarios contarán con esta plataforma?
                            </strong>
                        </span>
                    </center>
                </div>
                <!----------------- SLIDE #16 ------------------>

                <div class="step slide_PDVSA" data-x="13000" data-y="-1500">
                    <br><br>
                    <p align="justify">
                    <span class="fonts_content_presentation_main">

                        <ul style="list-style-type:square">
                            <li> Analistas y líderes de unidades de la Gerencia de Recursos Humanos de la CVP.
                                <br>
                                Período: Corto/mediano plazo.
                            </li>
                            <li>Gerentes y Directores de la CVP.
                                <br>
                                Período: Mediano plazo.
                            </li>
                            <li>Trabajadores de la CVP.
                                <br>
                                Período: Largo plazo.
                            </li>
                        </ul>
    </span>
    </p>

</div>



<!----------------- SLIDE #17 ------------------>

<div class="step slide_PDVSA" data-x="14000" data-y="-1500">
    <br>
    <br>
    <br>
    <br>
    <br>
    <center>
        <span class="fonts_title_presentation_sections">
            <strong>    Orientación y Visión Estratégica
                <br>¿Qué queremos?
            </strong>
        </span>
    </center>
</div>
<!----------------- SLIDE #18 ------------------>

<div class="step slide_PDVSA" data-x="15000" data-y="-1500">
    <br><br>
        <p align="justify">
    <span class="fonts_content_presentation_main">

        <ul style="list-style-type:square">
            <li> Indicadores de gestión de talento humano y presupuesto de la CVP.
            </li>
            <li> Indicadores de control de gestión y seguimiento de proyectos y propuestas de la gerencia de Recursos Humanos.
            </li>
            <li>Evaluación y monitoreo contínuo de los datos.
            </li>
            <li>Indicadores de gestión en tiempo real de la función de Recursos Humanos con gastos asociados.
            </li>


        </ul>
    </span>
</p>
</div>



<!----------------- SLIDE #19 ------------------>

<div class="step slide_PDVSA" data-x="16000" data-y="-1500">
    <br>
    <br>
    <br>
    <br>
    <br>
    <center>
        <span class="fonts_title_presentation_sections">
            <strong>    Orientación y Visión Estratégica
                <br>¿Como lo haremos?
            </strong>
        </span>
    </center>
</div>

<!----------------- SLIDE #20 ------------------>

<div class="step slide_PDVSA" data-x="17000" data-y="-1500">
    <br>
    <span class="fonts_content_presentation_main">

        <ul style="list-style-type:square">
            <li> Conectividad a las bases de datos oficiales de la Corporación
                (directorio activo, SAP, archivos de ofimática y otros soportes digitales).
            </li>
            <li> Creación de almacén de datos unificados.
            </li>
            <li>Módulo analítico de base de datos en línea y reportes dinámicos.
            </li>
            <li>Plataforma de minería de datos y análisis estadístico.
            </li>
        </ul>
    </span>

</div>



<!----------------- SLIDE #21 ------------------>

<div class="step slide_PDVSA" data-x="18000" data-y="-1500">
    <br>
    <br>
    <br>
    <center>
        <span class="fonts_title_presentation_sections">
            <br>
            <strong>    Orientación y Visión Estratégica
                <br>
                <br>¿Quienes son los responsables del proyecto?
                <br>
            </strong>
        </span>
    </center>
</div>
<!----------------- SLIDE #22 ------------------>

<div class="step slide_PDVSA" data-x="19000" data-y="-1500">
    <br>
    <span class="fonts_content_presentation_main">

        <ul style="list-style-type:square">
            <li> El desarrollo del SIGRH esta a cargo de los siguientes trabajadores:
            </li>
            <center>
                <br><img src="{{STATIC_URL}}images/slides/responsables.png" >
            </center>
        </ul>
    </span>

</div>

<!----------------- SLIDE #23 ------------------>
<div class="step slide_PDVSA" data-x="20000" data-y="-1500">
    <br>
    <br>
    <br>    <br>

    <center>
        <span class="fonts_title_presentation_sections">
            <strong>    Orientación y Visión Estratégica
                <br>Esquema básico del sistema
                <br>


            </strong>
        </span>
    </center>
</div>

<!----------------- SLIDE #24 ------------------>
<div class="step slide_PDVSA" data-x="21000" data-y="-1500">


    <span class="fonts_content_presentation_main">
        Esquema básico
    </span>
    <center><img src="{{STATIC_URL}}images/slides/esquema.jpg"></center>

</div>


<!----------------- SLIDE #25 ------------------>

    <div class="step slide_PDVSA" data-x="22000" data-y="-1500">

        <br>
        <br>
        <br>
        <br>
        <center>
            <span class="fonts_title_presentation_sections">
                <strong>Segundo Punto</strong><br><br>
                <strong>Presentación de Llovizna (Desarrollo Web) (cartera de productos y servicios). </strong>
            </span>
        </center>
    </div>


<!----------------- SLIDE #26 ------------------>

    <div class="step slide_PDVSA" data-x="23000" data-y="-1500">

        <br>
        <br>

        <br>
        <center>
            <span class="fonts_title_presentation_sections">
                <strong>Tercer Punto</strong><br><br>
                <strong>Dar a conocer las necesidades de adiestramiento / consultoría, posible metolodogía de trabajo y su impacto dentro del desarrollo</strong>
            </span>
        </center>
    </div>

<!----------------- SLIDE #27 ------------------>


    <div class="step slide_PDVSA" data-x="24000" data-y="-1500">
    <br>
        <span class="fonts_content_presentation_main">
            <strong>     Necesidades de adistramiento / Asesoría    </strong>
        </span>

        <p align="justify">
        <span class="fonts_content_presentation_main">

            <br>
            <ul style="list-style-type:square">
                <li>Business Process Management</li>
                <br>
                <li>Inteligencia de Negocios (analítica) con Pentaho.</li>
                <br>
                <li>Desarrollo: Angular / Django / API REst</li>

            </ul>
        </span>
        </p>
    </div>

<!----------------- SLIDE #28 ------------------>


    <div class="step slide_PDVSA" data-x="25000" data-y="-1500">

        <span class="fonts_content_presentation_main">
        <strong>Metodología de trabajo: aprender haciendo </strong>
        </span>

        <p align="justify">
        <span class="fonts_content_presentation_main">
            <br>


                Probablemente el método más adecuado para la enseñanza y este tipo de proyectos
                caracterizado por referirse a alguna experiencia actual del
                estudiante, con una inspección de los datos que se tienen a la mano y
                posteriormente brindar una solución al problema, conformando una hipótesis y
                someter la hipótesis a la prueba de la experiencia.

                <br><br>
                 John Dewey (1859-1952), filósofo y educador norteamericano.

        </span>
        </p>
    </div>



    <!----------------- SLIDE #29 ------------------>


        <div class="step slide_PDVSA" data-x="26000" data-y="-1500">

            <span class="fonts_content_presentation_main">
            <strong>Impacto en el desarrollo </strong>
            </span>

            <p align="justify">
            <span class="fonts_content_presentation_main">
                <br>


                    <ul style="list-style-type:square">
                        <li>Mejorar tiempo de respuesta</li>
                        <br>
                        <li>Aplicar mejores prácticas</li>
                        <br>
                        <li>Capacitación y posterior replicación del conocimiento dentro de la corporación</li>
                        <br>
                        <li>Identificar otras necesidades</li>

                    </ul>


            </span>
            </p>
        </div>




<div class="hint">
    <p>Presione espaciadora</p>
</div>
<script>
    if ("ontouchstart" in document.documentElement) {
        document.querySelector(".hint").innerHTML = "<p>Tap on the left or right to navigate</p>";
    }
</script>

<script src="{{STATIC_URL}}javascripts/impress.js-master/js/impress.js"></script>
<script>impress().init();</script>





</div>

    <div class="footer_main">
        {% include "includes/footer_presentation.html" %}
    </div>

</body>
</html>
