{% load static %}

<link href="{{STATIC_URL}}fonts/font-awesome-4.3.0/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="{{STATIC_URL}}javascripts/froala-1.2.25/css/froala-editor.min.css" rel="stylesheet" type="text/css" />
<link href="{{STATIC_URL}}javascripts/froala-1.2.25/css/froala-style.min.css" rel="stylesheet" type="text/css" />
<script src="{{STATIC_URL}}javascripts/froala-1.2.25/js/froala-editor.min.js"></script>
