
<div class="footer_container">
    <hr class="fancy-line"></hr>
    <img src="../../static/images/logo-GBV.jpg" class="logo_PDVSA_footer"/>
    <div class="footer_tools">
       <!-- Desarrollado por: Gerencia de RRHH CVP.
        <br>
        Unidad de Planificación y Control de Gestión. -->
        Desarrollado por:
        <br>
        Onofre Rafael Liscano Silva (LISCANOO).
    </div>
</div>
