
<nav class="navbar_bootstrap_PDVSA_presentation navbar_inverse_bootstrap_PDVSA">
    <div class="container-fluid">
        <div class="navbar-header">
<span class="sloganPDVSA">Dirección de Automatización, Informática y Telecomunicaciones (AIT)</span>
            <a class="navbar-brand" href="#">

                <img src="../../static/images/logo-PDVSA-CVP.png" class="logo_PDVSA"/>



            </a>

        </div>
    </div>

</nav>
