{% load static %}
<!DOCTYPE html>

<html class="no-js" lang="en">
<head>
    <title>Pantalla Principal Editor de</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include "includes/css-js.html" %}
</head>

<body ng-app>
    {% include "includes/header.html" %}

    <div class="intro_main">
        <div class="upper_left">
            <div class="intro_vertical_content">
                <span class="fonts_title_login_management">
                    Gerencia de Recursos Humanos
                </span>
                <br>
                <span class="fonts_title_login_system">
                    Editor de presentaciones para el Informe de gestión
                </span>
            </div>
        </div>

        <div class="upper_right">
            <p>
            El Sistema Integral de Gestión de Recursos Humanos (SIGRH) es una solución basada en Inteligencia de Negocios,
            que podrá capturar, organizar y analizar el alto volumen de datos que ingresa a los procesos de Rercursos Humanos,
            prediciendo futuros escenarios,reduciendo el margen de error a traves de indicadores de gestión y, permitiendo
            a la Junta Directiva de CVP tomar desiciones acertadas, todo esto alineado al Plan de la Patria 2013-2019 y
            al marco estratégico de la corporación.
            </p>
            Esto es una herrramienta en fase Beta. Cualquier duda o sugerencia enviar un email a:
            <strong>RODRIGUEZEJH@PDVSA.COM</strong>
            y/o
            <strong>LISCANOO@PDVSA.COM</strong>
        </div>

        <div class="bottom_left">
        </div>

        <div class="bottom_right">

            <div class="title_section">Inicio de sesión</div>
            <div class="content_section">
            Por favor introduzca su indicador y contraseña para acceder al sistema:
            </div>
            <br><br>
            <form class="form-inline" role="form">
                <div class="form-group">
                    <input type="text" class="text_fields_regular" id="indicador" placeholder="Indicador PDVSA">
                </div>
                <div class="form-group">
                    <input type="password" class="text_fields_password" id="password" placeholder="Contraseña">
                </div>
                    <button type="submit" class="button_ok">Aceptar</button>
            </form>

        </div>

    <div class="footer_main">
        {% include "includes/footer.html" %}
    </div>

</body>
</html>
